<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erfankazemi.drtarmast">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrTarmast">
        <activity android:name=".BorgTest.BorgResultActivity"></activity>
        <activity android:name=".BorgTest.BorgTestActivity" />
        <activity android:name=".BorgTest.BorgInfoActivity" />
        <activity android:name=".SpeakTest.SpeakTestResultActivity" />
        <activity android:name=".SpeakTest.SpeakTestActivity" />
        <activity android:name=".SpeakTest.SpeakTestInfoActivity" />
        <activity android:name=".BMI.BmiResultActivity" />
        <activity android:name=".BMI.WeightActivity" />
        <activity android:name=".BMI.HeightActivity" />
        <activity android:name=".BMI.SexActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".StepService.StepService" />
    </application>

</manifest>